*{
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
    box-sizing: border-box;
}

:root{
    font-size: 16px;
}

.btn{
display: block;
background-color: #F0F3BD;
text-decoration: none;
color: black;
font-weight: bold;
border: outset 0.15rem black;
margin: 1rem 1rem 1rem 10.5rem;
padding: 1rem;
text-align: center;
max-width: 15rem;
}

.btn1{
    background-color: #0eb1c7;
    text-decoration: none;
    display: inline-block;
    padding: 0.5rem;
    margin: 1rem 3rem 2rem 3rem;
    color: black;
}   

.btn2{
display: inline-block;
background-color: #F0F3BD;
color: black;
font-weight: bold;
text-decoration: none;
padding: 0.5rem;
border: solid 0.1rem black;
margin: 0.5rem 1rem 0.5rem 1rem;
}

.header{
    background-color:#028090;
    display: flex;
    height: 150px;
    align-items: center;
    justify-content: space-between; 
    flex-direction: row;
    padding: 2rem;
}

.header--gradient{
    background: rgb(0,168,150);
    background: -moz-linear-gradient(90deg, rgba(0,168,150,1) 0%, rgba(0,168,150,1) 21%, rgba(2,128,144,1) 100%, rgba(0,212,255,1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(0,168,150,1) 0%, rgba(0,168,150,1) 21%, rgba(2,128,144,1) 100%, rgba(0,212,255,1) 100%);
    background: linear-gradient(90deg, rgba(0,168,150,1) 0%, rgba(0,168,150,1) 21%, rgba(2,128,144,1) 100%, rgba(0,212,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#00a896",endColorstr="#00d4ff",GradientType=1);
}

.header__logo{
    max-width: 150px;
    margin-left: 3rem;
}

.header__item{
    display: inline-block;
    margin-left: 0.5rem;
    padding: 1rem;
    border: outset 0.15rem black;
    background-color: #F0F3BD;
    font-weight: bold;
}   

.header__anchor{
text-decoration: none;
color:black;
}


.hero{
    background-image: url(../../img/header.jpg);
    color: #F0F3BD;
    height: 85vh;
    position: relative;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero__wrapper{
position: absolute;
}

.hero__heading{
    font-size: 3rem;
}

.hero__slogan{
    display:inline-block;
    font-size: 1.5rem;
    margin: 1rem 0rem 1rem 0rem;
}

.hero__redes{
   width: 3rem;
   height: 3rem;
}

.dest__heading{
    font-size: 1.5rem;
    background-color: #0eb1c7;
    padding: 1.5rem;
    text-align: center;
}

.dest{
    background-color:#a2e5ff;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    padding: 2rem;
}

.destcard{
    display: flex;
    margin-top: 2rem;
    padding: 1rem 2rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.destcard__img{
width: 300px;
height: 300px;
border: outset 0.2rem #0eb1c7;
}

.destcard__titulo{
margin-top: 1rem;
}

.destcard__fecha{
    margin-top: 1rem;
    font-size: 1.2rem;
}

.pie{
    background-color: #028090;
    height: 30vh;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    }

.pie__1{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.pie__titulo{
    padding: 0.5rem;

}

.pie__dato{
padding: 0.5rem;
}


.line{
color: #028090;
}

.copy{
background-color:#F0F3BD;
}

.copy__text{
    color: black;
    font-size: 1rem;
}

